body{
    background: #d2d2c1 url(imagensProjeto/fundo.png);
    font: 16px Arial, Helvetica, sans-serif;
}
#principal{
    width: 900px;
}
#menu{
    background-color: #c5c5b2;
    font-size: 20px;
    font-weight: bold;
    padding: 18px;
}

a{
    color: #4b566a;
    text-decoration: none;
    padding: 5px;
}
#conteudo{
    background: white;
    padding: 10px;
}
.centralizar{
    text-align: center;
}
.img-campanha{
    border: 10px solid #c3c3ae;
}
h2{
    color: #828271;
    font-size: 1.2em;
}