@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%
}
.fa-fw {
  width: 1.28571429em;
  text-align: center
}


:root {
  --body-bg: #fafafa;
  --body-color: #555;
  --link-color: #222;
  --link-color-hover: #ec5840;
  --footer-text-color: #899095;
  --footer-color: #3cc368;
}
.dark-mode:root {
    --body-bg: #282e35;
    --body-color: #dee2e6;
    --link-color: #dee2e6;
    --link-color-hover: #3cc368;
    --footer-text-color: #222;
    --footer-color: #ec5840;
  }

body {
  background-color: var(--body-bg);
  color: var(--body-color);
  font: var(--body-font);
  margin: 0;;
}
 
a {
  color: var(--link-color);
}
li{
  margin-left: 20px;
}

#dark{
  background-color: var(--link-color);
  border: 1px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  top: 90%;
  left: 95%;

}

#dark:hover{
  background-color: var(--link-color);
  opacity: 30%;
  border: 1px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  top: 90%;
  left: 95%;

}
 
a:hover {
  color: var(--link-color-hover);
}
#corpo{
  border: 1px solid red;
  height: 1300px;
  margin: 15px 15px;
}
footer{
  text-align: center;
  color: var(--body-bg);
  background-color:var(--footer-color);
  height: 100px;
  width: 100%;
  margin: 0%;
  padding-top: 10px;
}
.conteudo2{
  
  color: var(--body-color);
  background: var(--body-bg);
  width: 55%;
  height: 48%;
  float: right;
  margin-right: 7%;
  margin-bottom: 8px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

.conteudo3{
  color: var(--body-color);
  background: var(--body-bg);
  width: 30%;
  height: 90%;
  float: left;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.img{
  width: 100%;
  float: left;
  margin: 0;
}
.fa-briefcase:before {
  content: "\f0b1"
}
