:root {
  --bg: #d4d1d1;
  --body-bg: #fafafa;
  --body-color: #222;
  --link-color-hover: #ec5840;
  --footer-text-color: #899095;
  --footer-color: #3cc368;
}
.dark-mode:root {
    --bg: #242d36;
    --body-bg: #282e35;
    --body-color: #dee2e6;
    --link-color: #dee2e6;
    --link-color-hover: #3cc368;
    --footer-text-color: #222;
    --footer-color: #ec5840;
  }

body {
  background-color: var(--bg);
  color: var(--body-color);
  font: var(--body-font);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
hr{
  border: 0;
  border-top: 1px solid var(--footer-text-color);
  margin: 10px;
  opacity: 60%;
}
 
a {
  color: var(--body-color);
  text-decoration: none;
}
a:hover {
  color: var(--footer-color);
  border-bottom: 3px solid;
  border-radius: 2px;
}

#dark{
  background-color: var(--body-color);
  border: 1px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  top: 90%;
  left: 95%;

}

#dark:hover{
  background-color: var(--body-color);
  opacity: 40%;
  border: 1px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  top: 90%;
  left: 95%;

}

#corpo{
  border: 1px solid red;
  height: 1300px;
  margin: 15px 15px;
}
footer{
  text-align: center;
  color: var(--body-bg);
  background-color:var(--footer-color);
  height: 100px;
  width: 100%;
  margin: 0%;
  padding-top: 10px;
}
.experiencias{
  
  color: var(--body-color);
  background: var(--body-bg);
  width: 66%;
  height: 48%;
  float: right;
  margin-bottom: 8px;
  padding-top: 10px;
  padding-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

.perfil{
  color: var(--body-color);
  background: var(--body-bg);
  width: 32%;
  height: 90%;
  float: left;
  margin-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.lista{
  padding-left: 10px;
  padding-right: 10px;
  color: var(--footer-color);
  font-size: 20px;
}
.linguagens{
  padding-left: 10px;
  padding-right: 10px;
  color: var(--footer-color);
  font-size: 30px;
  border: 0;
}
.img{
  width: 100%;
  float: left;
  margin: 0;
  position: relative;
}
.progresso {
  text-align: center;
  background: var(--body-color);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  display: flex;
  height: 20px;
  width: 80%;
  margin-right: 30px;
  margin-top: 3px;
  float: right;
}

.progresso-js{
  text-align: center;
  color: var(--link-color);
  animation: loadJS 3s normal forwards;
  border-radius: 100px;
  background: var(--footer-color);
  height: 20px;
  width: 0;
} 

@keyframes loadJS {
  0% {
      width: 0;
  }
  100% {
      width: 85%;
  }
}

.progresso-css{
  color: var(--link-color);
  animation: loadCSS 3s normal forwards;
  border-radius: 100px;
  background: var(--footer-color);
  height: 20px;
  width: 0;
} 

@keyframes loadCSS {
  0% {
      width: 0;
  }
  100% {
      width: 90%;
  }
}
.progresso-html{
  color: var(--link-color);
  animation: loadHTML 3s normal forwards;
  border-radius: 100px;
  background: var(--footer-color);
  height: 20px;
  width: 0;
} 

@keyframes loadHTML {
  0% {
      width: 0;
  }
  100% {
      width: 56%;
  }
}