#corpo{
    border: 1px solid red;
    height: 900px;
    margin: 15px 15px;
}

.conteudo{
    border: 1px solid royalblue;
    width: 150px;
    margin: 10px;
    padding: 20px;
}

.conteudo2{
    color: antiquewhite;
    background: royalblue;
    border: 1px solid gray;
    width: 55%;
    height: 48%;
    float: right;
    margin-right: 7%;
    margin-bottom: 8px;
    
}

.conteudo3{
    color: antiquewhite;
    background: rebeccapurple;
    border: 1px solid grey;
    width: 30%;
    height: 600px;
    float: left;
}
footer{
    text-align: center;
    color: white;
    background-color:mediumspringgreen;
    height: 100px;
    width: 100%;
    margin: 0%;
    padding-top: 10px;
}
body{
    margin: 0px;
}