body{
    background: rebeccapurple;
}
.container{
    background: white;
    margin: 10px auto;
    width: 800px;
    padding: 10px;

}
h1{
    
}
p{
    width: 300px;
}
.fixed{
    border: 1px solid red;
    position: fixed;
    right: 300px;
    
}

.absolute{
    border: 1px solid red;
    position: absolute;
    top: 40px;
    right: 80px;
}

.relative{
    border: 1px solid red;
    position: relative;
    bottom: 80px;
    left: 80px;

}